body {
	background-color: darkred;
	color: white;
	font-family: "Chiron GoRound TC", sans-serif, system-ui;
}

*:focus {
	outline: lime solid 2px;
	outline-offset: 2px;
}

main {
	width: 50%;
	margin: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	text-transform: uppercase;
	font-family: "Righteous", sans-serif, system-ui;
	font-weight: 400;
}

h1 {
	text-align: center;
	font-size: 7vw;
	margin: 100px 0 0;

	span {
		color: lightsalmon;
	}
}

h2 {
	font-size: 2rem;
	margin-top: 60px;
	margin-bottom: 10px;
}

p {
	font-size: 1.25rem;
	line-height: 1.3;
	margin-bottom: 32px;
	text-align: justify;
}

a {
	color: lime;
}

a:visited {
	color: lightsalmon;
}

img {
	width: 100%;
	aspect-ratio: 4 / 3;
	object-fit: cover;
	object-position: 0 100%;
}

.rutnät {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 8px;
	list-style: none;
	padding: 0;

	& a {
		padding: 16px;
		border: lightsalmon solid 1px;
		color: lime;
		display: flex;
		justify-content: space-between;
		align-items: center;
		text-decoration: none;

		& > svg {
			height: 24px;
			stroke: lime;
		}

		&:hover {
			background: lime;
			color: black;

			& > svg {
				stroke: black;
			}
		}
	}
}
